form,
fieldset {
  margin: 0;
  padding: 0;
  border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  box-sizing: border-box;
  border: none;
  background-color: #0772aa;
  border-radius: 5px;
  transition: all .3s ease;
  color: $dark-violet;

  &:focus,
  &.active {
    background-color: $white;
    outline: none;
  }

  @include placeholder {
    color: $gray;
  }
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'] {
  height: $form-element-height;
  line-height: $form-element-height;
  padding: $form-element-padding;
  width: 366px;
  max-width: 100%;

  @include media('<tablet') {
    width: 100%;
  }
}

select {
  -webkit-border-radius: 0;
}

textarea {
  resize: vertical;
  vertical-align: top;
  height: 218px;
	max-width: 100%;
	padding: 10px 15px;
  width: 100%;
}

input[type=file] {
	@include media('<phone') {
		max-width: 100%;
	}
}

label {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 10px;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  cursor: pointer;
  @extend .btn;
  height: $form-element-height;
  line-height: $form-element-height;
  padding: $form-element-padding;
}

