form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'],
textarea {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	border: 1px solid var(--form-element-border-color);
	transition: all .3s ease;
	color: var(--gray-color);
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
input[type='url'],
input[type='date'] {
	height: var(--form-element-height);
	line-height: var(--form-element-height);
	padding: var(--form-element-padding);
	width: 50%;

	@include media('<tablet') {
		width: 100%;
	}
}

select {
	-webkit-border-radius: 0;
}

textarea {
	resize: vertical;
	vertical-align: top;
	height: 218px;
	max-width: 100%;
	padding: 10px 15px;
	width: 100%;
}

input[type=file] {
	@include media('<phone') {
		max-width: 100%;
	}
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'],
button.btn,
input.btn {
	@extend .btn;
	-webkit-appearance: none;
	cursor: pointer;
	height: var(--form-element-height);
	line-height: var(--form-element-height);
	padding: var(--form-element-padding);
	border: 0;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance:textfield;
}