:root {
	--gray-color: #888;
	--dark-gray-color: #343434;
	--border-color: #0c2b5b;
	--white-color: #fff;
	--black-color: #000;
	--blue-color: #232829;
	--cyan-color: #25cbd3;

	--base-text-color: var(--black-color);
	--headings-color: var(--dark-gray-color);

	--base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
	--base-font-serif: 'Times', 'Baskerville', 'Georgia', serif;
	--base-background-color: var(--white-colory);

	--form-element-border-color: var(--border-color);
	--form-element-height: 30px;
	--form-element-padding: 0 18px;

	--font-size-base: 14px;
	--line-height-base: 1.5;

	--base-min-width: 320px;

	--base-link-color: var(--gray-color);

	--btn-color: var(--white-color);
	--btn-font-size: 16px;
	--btn-background: var(--cyan-color);
	--btn-padding: 7px 22px;
	--btn-border: 0;

	--width: 950px;

	--h1-font-size: 24px;
	--h2-font-size: 22px;
	--h3-font-size: 20px;
	--h4-font-size: 18px;
	--h5-font-size: 16px;
	--h6-font-size: 14px;

	--vertical-rhythm: calc(var(--line-height-base) * 1em);
}